<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="u-center-text">
        <h1><%= product.title %></h1>
        <hr>
        <div>
            <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
        </div>
        <h2 >$<%= product.price %></h2>
        <p><%= product.description %></p>
        <hr>
        <div class="card__actions">
            <a href="/products" class="btn">Go back</a>
            <% if(isAuthenticated) { %> 
                <%- include('../includes/cart.ejs') %>
            <% } %>
        </div>
    </main>
    <%- include('../includes/footer.ejs') %>
<%- include('../includes/end.ejs') %>